# Build-Ergebnisse
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
artifacts/
TestResults/

# NuGet-Pakete
packages/
*.nuget

# Visual Studio Code spezifische Dateien
.vscode/

# Visual Studio Benutzer-spezifische Dateien
*.user
*.suo
*.userosscache

# ReSharper-Dateien
_ReSharper*/
*.[Rr]e[Ss]harper

# .NET Core und .NET Standard temporäre Dateien und Build-Dateien
project.lock.json
project.fragment.lock.json

# Visual Studio temporäre Dateien, Build-Ergebnisse und Logs
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*

# macOS-Systemdateien
.DS_Store

# Visual Studio Verzeichnisstruktur
.vs/

# Allgemeine Build-Artefakte (DLLs, EXEs, Logs, etc.)
*.dll
*.exe
*.log
*.pdb
*.cache

# Ignore spezifische Architektur-Ordner
x64/
x86/
